<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.audio.pro"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_stac_app_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.STAC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.settings.SettingsAbout"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsPrivacy"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsNotifications"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsStoriesAccess"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsStories"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsChat"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAppearanceSelectWallpaper"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAppearanceSelectChatColor"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAppearanceChat"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAppearanceThemeSelection"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAppearance"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsAccount"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsProfileEditPhoto"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsProfileAbout"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsProfileEditName"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsProfile"
            android:exported="false" />
        <activity
            android:name=".activities.settings.SettingsMain"
            android:exported="false" />
        <activity
            android:name=".activities.Control.OCRActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Control.mainCameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Control.cameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Control.personalInformationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.settingsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Control.conversationChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.UsersActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.conversationMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.editProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.getStartedActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.signInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.signUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Control.loadingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".activities.firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>